{% extends 'base.html.twig' %}

{% block title %}Category:
	{{ categoryName }}
{% endblock %}

{% block body %}
	<h1>Toutes les séries de la categorie
		{{ categoryName }}:
	</h1>

	{% for program in programs %}
		<div>
			<h2>{{ loop.index }}
				/ID #:
				{{ program.id }}
				-
				{{ program.title }}
				- Catégorie :
				{{ program.category.name }}
			</h2>
			<p>{{ program.synopsis }}</p>
			{# Lien vers la fiche de la série : #}
			<a href="{{ path("program_show", { slug: program.slug }) }}">Voir la fiche</a>
		</div>
	{% else %}
		Aucune série trouvée.
	{% endfor %}

{% endblock %}
